<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biu.wifi.campus.dao.AccountOnlineMapper">
    <resultMap id="BaseResultMap" type="com.biu.wifi.campus.dao.model.AccountOnline">
        <id column="account_online_id" jdbcType="BIGINT" property="accountOnlineId"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="online_key" jdbcType="VARCHAR" property="onlineKey"/>
        <result column="edatetime" jdbcType="BIGINT" property="edatetime"/>
        <result column="sdatetime" jdbcType="BIGINT" property="sdatetime"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="lengthen" jdbcType="INTEGER" property="lengthen"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    account_online_id, account_id, online_key, edatetime, sdatetime, type, lengthen
  </sql>
    <select id="selectByExample" parameterType="com.biu.wifi.campus.dao.model.AccountOnlineCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from biu_account_online
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biu_account_online
        where account_online_id = #{accountOnlineId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biu_account_online
    where account_online_id = #{accountOnlineId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.biu.wifi.campus.dao.model.AccountOnlineCriteria">
        delete from biu_account_online
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.biu.wifi.campus.dao.model.AccountOnline">
    insert into biu_account_online (account_online_id, account_id, online_key, 
      edatetime, sdatetime, type, 
      lengthen)
    values (#{accountOnlineId,jdbcType=BIGINT}, #{accountId,jdbcType=INTEGER}, #{onlineKey,jdbcType=VARCHAR}, 
      #{edatetime,jdbcType=BIGINT}, #{sdatetime,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, 
      #{lengthen,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.biu.wifi.campus.dao.model.AccountOnline">
        insert into biu_account_online
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountOnlineId != null">
                account_online_id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="onlineKey != null">
                online_key,
            </if>
            <if test="edatetime != null">
                edatetime,
            </if>
            <if test="sdatetime != null">
                sdatetime,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="lengthen != null">
                lengthen,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountOnlineId != null">
                #{accountOnlineId,jdbcType=BIGINT},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="onlineKey != null">
                #{onlineKey,jdbcType=VARCHAR},
            </if>
            <if test="edatetime != null">
                #{edatetime,jdbcType=BIGINT},
            </if>
            <if test="sdatetime != null">
                #{sdatetime,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="lengthen != null">
                #{lengthen,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.biu.wifi.campus.dao.model.AccountOnlineCriteria"
            resultType="java.lang.Long">
        select count(*) from biu_account_online
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update biu_account_online
        <set>
            <if test="record.accountOnlineId != null">
                account_online_id = #{record.accountOnlineId,jdbcType=BIGINT},
            </if>
            <if test="record.accountId != null">
                account_id = #{record.accountId,jdbcType=INTEGER},
            </if>
            <if test="record.onlineKey != null">
                online_key = #{record.onlineKey,jdbcType=VARCHAR},
            </if>
            <if test="record.edatetime != null">
                edatetime = #{record.edatetime,jdbcType=BIGINT},
            </if>
            <if test="record.sdatetime != null">
                sdatetime = #{record.sdatetime,jdbcType=BIGINT},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=SMALLINT},
            </if>
            <if test="record.lengthen != null">
                lengthen = #{record.lengthen,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update biu_account_online
        set account_online_id = #{record.accountOnlineId,jdbcType=BIGINT},
        account_id = #{record.accountId,jdbcType=INTEGER},
        online_key = #{record.onlineKey,jdbcType=VARCHAR},
        edatetime = #{record.edatetime,jdbcType=BIGINT},
        sdatetime = #{record.sdatetime,jdbcType=BIGINT},
        type = #{record.type,jdbcType=SMALLINT},
        lengthen = #{record.lengthen,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.biu.wifi.campus.dao.model.AccountOnline">
        update biu_account_online
        <set>
            <if test="accountId != null">
                account_id = #{accountId,jdbcType=INTEGER},
            </if>
            <if test="onlineKey != null">
                online_key = #{onlineKey,jdbcType=VARCHAR},
            </if>
            <if test="edatetime != null">
                edatetime = #{edatetime,jdbcType=BIGINT},
            </if>
            <if test="sdatetime != null">
                sdatetime = #{sdatetime,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="lengthen != null">
                lengthen = #{lengthen,jdbcType=INTEGER},
            </if>
        </set>
        where account_online_id = #{accountOnlineId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.biu.wifi.campus.dao.model.AccountOnline">
    update biu_account_online
    set account_id = #{accountId,jdbcType=INTEGER},
      online_key = #{onlineKey,jdbcType=VARCHAR},
      edatetime = #{edatetime,jdbcType=BIGINT},
      sdatetime = #{sdatetime,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT},
      lengthen = #{lengthen,jdbcType=INTEGER}
    where account_online_id = #{accountOnlineId,jdbcType=BIGINT}
  </update>
</mapper>