<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biu.wifi.campus.dao.LikeMessageMapper">
    <resultMap id="BaseResultMap" type="com.biu.wifi.campus.dao.model.LikeMessage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="toer_id" jdbcType="INTEGER" property="toerId"/>
        <result column="toer" jdbcType="VARCHAR" property="toer"/>
        <result column="object_id" jdbcType="INTEGER" property="objectId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="is_read" jdbcType="SMALLINT" property="isRead"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_detele" jdbcType="SMALLINT" property="isDetele"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, type, user_id, user, toer_id, toer, object_id, content, is_read, create_time, 
    is_detele, delete_time
  </sql>
    <select id="selectByExample" parameterType="com.biu.wifi.campus.dao.model.LikeMessageCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from biu_like_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biu_like_message
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biu_like_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.biu.wifi.campus.dao.model.LikeMessageCriteria">
        delete from biu_like_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.biu.wifi.campus.dao.model.LikeMessage"
            useGeneratedKeys="true">
    insert into biu_like_message (type, user_id, user, 
      toer_id, toer, object_id, 
      content, is_read, create_time, 
      is_detele, delete_time)
    values (#{type,jdbcType=SMALLINT}, #{userId,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, 
      #{toerId,jdbcType=INTEGER}, #{toer,jdbcType=VARCHAR}, #{objectId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isRead,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDetele,jdbcType=SMALLINT}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.biu.wifi.campus.dao.model.LikeMessage" useGeneratedKeys="true">
        insert into biu_like_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="user != null">
                user,
            </if>
            <if test="toerId != null">
                toer_id,
            </if>
            <if test="toer != null">
                toer,
            </if>
            <if test="objectId != null">
                object_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="isRead != null">
                is_read,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDetele != null">
                is_detele,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type,jdbcType=SMALLINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="user != null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="toerId != null">
                #{toerId,jdbcType=INTEGER},
            </if>
            <if test="toer != null">
                #{toer,jdbcType=VARCHAR},
            </if>
            <if test="objectId != null">
                #{objectId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                #{isRead,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDetele != null">
                #{isDetele,jdbcType=SMALLINT},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.biu.wifi.campus.dao.model.LikeMessageCriteria"
            resultType="java.lang.Long">
        select count(*) from biu_like_message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update biu_like_message
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=SMALLINT},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.user != null">
                user = #{record.user,jdbcType=VARCHAR},
            </if>
            <if test="record.toerId != null">
                toer_id = #{record.toerId,jdbcType=INTEGER},
            </if>
            <if test="record.toer != null">
                toer = #{record.toer,jdbcType=VARCHAR},
            </if>
            <if test="record.objectId != null">
                object_id = #{record.objectId,jdbcType=INTEGER},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=VARCHAR},
            </if>
            <if test="record.isRead != null">
                is_read = #{record.isRead,jdbcType=SMALLINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDetele != null">
                is_detele = #{record.isDetele,jdbcType=SMALLINT},
            </if>
            <if test="record.deleteTime != null">
                delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update biu_like_message
        set id = #{record.id,jdbcType=INTEGER},
        type = #{record.type,jdbcType=SMALLINT},
        user_id = #{record.userId,jdbcType=INTEGER},
        user = #{record.user,jdbcType=VARCHAR},
        toer_id = #{record.toerId,jdbcType=INTEGER},
        toer = #{record.toer,jdbcType=VARCHAR},
        object_id = #{record.objectId,jdbcType=INTEGER},
        content = #{record.content,jdbcType=VARCHAR},
        is_read = #{record.isRead,jdbcType=SMALLINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        is_detele = #{record.isDetele,jdbcType=SMALLINT},
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.biu.wifi.campus.dao.model.LikeMessage">
        update biu_like_message
        <set>
            <if test="type != null">
                type = #{type,jdbcType=SMALLINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="user != null">
                user = #{user,jdbcType=VARCHAR},
            </if>
            <if test="toerId != null">
                toer_id = #{toerId,jdbcType=INTEGER},
            </if>
            <if test="toer != null">
                toer = #{toer,jdbcType=VARCHAR},
            </if>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="isRead != null">
                is_read = #{isRead,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDetele != null">
                is_detele = #{isDetele,jdbcType=SMALLINT},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.biu.wifi.campus.dao.model.LikeMessage">
    update biu_like_message
    set type = #{type,jdbcType=SMALLINT},
      user_id = #{userId,jdbcType=INTEGER},
      user = #{user,jdbcType=VARCHAR},
      toer_id = #{toerId,jdbcType=INTEGER},
      toer = #{toer,jdbcType=VARCHAR},
      object_id = #{objectId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_detele = #{isDetele,jdbcType=SMALLINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>