<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biu.wifi.campus.dao.TeacherCoursePlanMapper">
    <resultMap id="BaseResultMap" type="com.biu.wifi.campus.dao.model.TeacherCoursePlan">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="term_code" jdbcType="VARCHAR" property="termCode"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="building_id" jdbcType="INTEGER" property="buildingId"/>
        <result column="classroom_no" jdbcType="VARCHAR" property="classroomNo"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_no" jdbcType="VARCHAR" property="courseNo"/>
        <result column="course_serial_no" jdbcType="VARCHAR" property="courseSerialNo"/>
        <result column="course_week" jdbcType="VARCHAR" property="courseWeek"/>
        <result column="course_week_day" jdbcType="VARCHAR" property="courseWeekDay"/>
        <result column="course_section" jdbcType="VARCHAR" property="courseSection"/>
        <result column="course_continue_section" jdbcType="VARCHAR" property="courseContinueSection"/>
        <result column="teacher_no" jdbcType="VARCHAR" property="teacherNo"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="SMALLINT" property="isDelete"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.biu.wifi.campus.dao.model.TeacherCoursePlan">
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, term_code, school_id, building_id, classroom_no, course_name, course_no, course_serial_no, 
    course_week, course_week_day, course_section, course_continue_section, teacher_no, 
    teacher_name, create_time, update_time, is_delete, delete_time
  </sql>
    <sql id="Blob_Column_List">
    remark
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlanCriteria"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from biu_teacher_course_plan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByExample" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlanCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from biu_teacher_course_plan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from biu_teacher_course_plan
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biu_teacher_course_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlanCriteria">
        delete from biu_teacher_course_plan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlan"
            useGeneratedKeys="true">
    insert into biu_teacher_course_plan (term_code, school_id, building_id, 
      classroom_no, course_name, course_no, 
      course_serial_no, course_week, course_week_day, 
      course_section, course_continue_section, teacher_no, 
      teacher_name, create_time, update_time, 
      is_delete, delete_time, remark
      )
    values (#{termCode,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER}, 
      #{classroomNo,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseNo,jdbcType=VARCHAR}, 
      #{courseSerialNo,jdbcType=VARCHAR}, #{courseWeek,jdbcType=VARCHAR}, #{courseWeekDay,jdbcType=VARCHAR}, 
      #{courseSection,jdbcType=VARCHAR}, #{courseContinueSection,jdbcType=VARCHAR}, #{teacherNo,jdbcType=VARCHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=SMALLINT}, #{deleteTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlan" useGeneratedKeys="true">
        insert into biu_teacher_course_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="termCode != null">
                term_code,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="buildingId != null">
                building_id,
            </if>
            <if test="classroomNo != null">
                classroom_no,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="courseNo != null">
                course_no,
            </if>
            <if test="courseSerialNo != null">
                course_serial_no,
            </if>
            <if test="courseWeek != null">
                course_week,
            </if>
            <if test="courseWeekDay != null">
                course_week_day,
            </if>
            <if test="courseSection != null">
                course_section,
            </if>
            <if test="courseContinueSection != null">
                course_continue_section,
            </if>
            <if test="teacherNo != null">
                teacher_no,
            </if>
            <if test="teacherName != null">
                teacher_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="termCode != null">
                #{termCode,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="buildingId != null">
                #{buildingId,jdbcType=INTEGER},
            </if>
            <if test="classroomNo != null">
                #{classroomNo,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseNo != null">
                #{courseNo,jdbcType=VARCHAR},
            </if>
            <if test="courseSerialNo != null">
                #{courseSerialNo,jdbcType=VARCHAR},
            </if>
            <if test="courseWeek != null">
                #{courseWeek,jdbcType=VARCHAR},
            </if>
            <if test="courseWeekDay != null">
                #{courseWeekDay,jdbcType=VARCHAR},
            </if>
            <if test="courseSection != null">
                #{courseSection,jdbcType=VARCHAR},
            </if>
            <if test="courseContinueSection != null">
                #{courseContinueSection,jdbcType=VARCHAR},
            </if>
            <if test="teacherNo != null">
                #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlanCriteria"
            resultType="java.lang.Long">
        select count(*) from biu_teacher_course_plan
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update biu_teacher_course_plan
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.termCode != null">
                term_code = #{record.termCode,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolId != null">
                school_id = #{record.schoolId,jdbcType=INTEGER},
            </if>
            <if test="record.buildingId != null">
                building_id = #{record.buildingId,jdbcType=INTEGER},
            </if>
            <if test="record.classroomNo != null">
                classroom_no = #{record.classroomNo,jdbcType=VARCHAR},
            </if>
            <if test="record.courseName != null">
                course_name = #{record.courseName,jdbcType=VARCHAR},
            </if>
            <if test="record.courseNo != null">
                course_no = #{record.courseNo,jdbcType=VARCHAR},
            </if>
            <if test="record.courseSerialNo != null">
                course_serial_no = #{record.courseSerialNo,jdbcType=VARCHAR},
            </if>
            <if test="record.courseWeek != null">
                course_week = #{record.courseWeek,jdbcType=VARCHAR},
            </if>
            <if test="record.courseWeekDay != null">
                course_week_day = #{record.courseWeekDay,jdbcType=VARCHAR},
            </if>
            <if test="record.courseSection != null">
                course_section = #{record.courseSection,jdbcType=VARCHAR},
            </if>
            <if test="record.courseContinueSection != null">
                course_continue_section = #{record.courseContinueSection,jdbcType=VARCHAR},
            </if>
            <if test="record.teacherNo != null">
                teacher_no = #{record.teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="record.teacherName != null">
                teacher_name = #{record.teacherName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDelete != null">
                is_delete = #{record.isDelete,jdbcType=SMALLINT},
            </if>
            <if test="record.deleteTime != null">
                delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update biu_teacher_course_plan
        set id = #{record.id,jdbcType=INTEGER},
        term_code = #{record.termCode,jdbcType=VARCHAR},
        school_id = #{record.schoolId,jdbcType=INTEGER},
        building_id = #{record.buildingId,jdbcType=INTEGER},
        classroom_no = #{record.classroomNo,jdbcType=VARCHAR},
        course_name = #{record.courseName,jdbcType=VARCHAR},
        course_no = #{record.courseNo,jdbcType=VARCHAR},
        course_serial_no = #{record.courseSerialNo,jdbcType=VARCHAR},
        course_week = #{record.courseWeek,jdbcType=VARCHAR},
        course_week_day = #{record.courseWeekDay,jdbcType=VARCHAR},
        course_section = #{record.courseSection,jdbcType=VARCHAR},
        course_continue_section = #{record.courseContinueSection,jdbcType=VARCHAR},
        teacher_no = #{record.teacherNo,jdbcType=VARCHAR},
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=SMALLINT},
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
        remark = #{record.remark,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update biu_teacher_course_plan
        set id = #{record.id,jdbcType=INTEGER},
        term_code = #{record.termCode,jdbcType=VARCHAR},
        school_id = #{record.schoolId,jdbcType=INTEGER},
        building_id = #{record.buildingId,jdbcType=INTEGER},
        classroom_no = #{record.classroomNo,jdbcType=VARCHAR},
        course_name = #{record.courseName,jdbcType=VARCHAR},
        course_no = #{record.courseNo,jdbcType=VARCHAR},
        course_serial_no = #{record.courseSerialNo,jdbcType=VARCHAR},
        course_week = #{record.courseWeek,jdbcType=VARCHAR},
        course_week_day = #{record.courseWeekDay,jdbcType=VARCHAR},
        course_section = #{record.courseSection,jdbcType=VARCHAR},
        course_continue_section = #{record.courseContinueSection,jdbcType=VARCHAR},
        teacher_no = #{record.teacherNo,jdbcType=VARCHAR},
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        is_delete = #{record.isDelete,jdbcType=SMALLINT},
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlan">
        update biu_teacher_course_plan
        <set>
            <if test="termCode != null">
                term_code = #{termCode,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="buildingId != null">
                building_id = #{buildingId,jdbcType=INTEGER},
            </if>
            <if test="classroomNo != null">
                classroom_no = #{classroomNo,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseNo != null">
                course_no = #{courseNo,jdbcType=VARCHAR},
            </if>
            <if test="courseSerialNo != null">
                course_serial_no = #{courseSerialNo,jdbcType=VARCHAR},
            </if>
            <if test="courseWeek != null">
                course_week = #{courseWeek,jdbcType=VARCHAR},
            </if>
            <if test="courseWeekDay != null">
                course_week_day = #{courseWeekDay,jdbcType=VARCHAR},
            </if>
            <if test="courseSection != null">
                course_section = #{courseSection,jdbcType=VARCHAR},
            </if>
            <if test="courseContinueSection != null">
                course_continue_section = #{courseContinueSection,jdbcType=VARCHAR},
            </if>
            <if test="teacherNo != null">
                teacher_no = #{teacherNo,jdbcType=VARCHAR},
            </if>
            <if test="teacherName != null">
                teacher_name = #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=SMALLINT},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlan">
    update biu_teacher_course_plan
    set term_code = #{termCode,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      classroom_no = #{classroomNo,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_no = #{courseNo,jdbcType=VARCHAR},
      course_serial_no = #{courseSerialNo,jdbcType=VARCHAR},
      course_week = #{courseWeek,jdbcType=VARCHAR},
      course_week_day = #{courseWeekDay,jdbcType=VARCHAR},
      course_section = #{courseSection,jdbcType=VARCHAR},
      course_continue_section = #{courseContinueSection,jdbcType=VARCHAR},
      teacher_no = #{teacherNo,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.biu.wifi.campus.dao.model.TeacherCoursePlan">
    update biu_teacher_course_plan
    set term_code = #{termCode,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      classroom_no = #{classroomNo,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_no = #{courseNo,jdbcType=VARCHAR},
      course_serial_no = #{courseSerialNo,jdbcType=VARCHAR},
      course_week = #{courseWeek,jdbcType=VARCHAR},
      course_week_day = #{courseWeekDay,jdbcType=VARCHAR},
      course_section = #{courseSection,jdbcType=VARCHAR},
      course_continue_section = #{courseContinueSection,jdbcType=VARCHAR},
      teacher_no = #{teacherNo,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>